<ion-tabs >
  <ion-tab-bar slot="bottom" [translucent]="true">
    <ion-tab-button tab="wiki" (click)="goToPage('/wiki')">
      <ion-icon name="library" ></ion-icon>
      Wiki
    </ion-tab-button>
    <ion-tab-button tab="History" (click)="goToPage('/history')">
      <ion-icon name="file-tray-full"></ion-icon>
      History
    </ion-tab-button>
    <ion-tab-button tab="camera" (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
      Take a picture
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
