<ion-tabs >
  <ion-tab-bar slot="bottom" [translucent]="true">
    <ion-tab-button tab="wiki" class="tab-button">
      <ion-icon name="library" ></ion-icon>
      Wiki
    </ion-tab-button>
    <ion-tab-button tab="history" class="tab-button">
      <ion-icon name="file-tray-full"></ion-icon>
      History
    </ion-tab-button>
    <ion-tab-button tab="prediction-result" class="tab-button">
      <ion-icon name="camera"></ion-icon>
      Take a picture
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
