<!--TODO: design and implement UI-->
<div>
    
        <ion-card (click)="handleCardClick(1)" class="ion-activatable" style="background-image: url('https://images.pexels.com/photos/1327838/pexels-photo-1327838.jpeg');">
            <ion-card-header>
                <ion-card-title><ion-chip>Disease</ion-chip></ion-card-title>
            </ion-card-header>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-card>     

    <ion-card (click)="handleCardClick(2)" class="ion-activatable" style="background-image: url('https://cdn.mos.cms.futurecdn.net/UQdzFkT7krn4DiaAUdZt9Y.jpg');">
        <ion-card-header>
            <ion-card-title><ion-chip>Disease</ion-chip></ion-card-title>
        </ion-card-header>
        <ion-ripple-effect></ion-ripple-effect>
    </ion-card>

    <ion-card (click)="handleCardClick(3)" class="ion-activatable"  style="background-image: url('https://www.gardentech.com/-/media/project/oneweb/gardentech/images/blog/fight-blight-on-your-tomatoes/fight_blight-header.jpg');">
        <ion-card-header>
            <ion-card-title><ion-chip>Disease</ion-chip></ion-card-title>
        </ion-card-header>
        <ion-ripple-effect></ion-ripple-effect>
    </ion-card>

</div>

