<ion-card>
  <img src="{{this.pageWikiInfo?.disease_image_path}}" class="disease-info-img"/>
  <div>
    <ion-card-header>
      <ion-card-title>{{this.pageWikiInfo?.disease_name}}</ion-card-title>
      <ion-card-subtitle *ngIf="pageWikiInfo?.aliases">{{ pageWikiInfo?.aliases }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{this.pageWikiInfo?.description}}

      <br>

      <b>Treatment:</b>
      {{this.pageWikiInfo?.treatment}}


      <div *ngIf="this.pageWikiInfo && this.pageWikiInfo?.prevention !== undefined">
        <b>How to prevent:</b>
        {{this.pageWikiInfo?.prevention}}
      </div>


<!--      <div *ngIf="this.pageWikiInfo && this.pageWikiInfo?.prevention !== undefined">-->
<!--      TODO: maybe use badge to show these-->
<!--        <b>Other crops that may be affected by this disease:</b>-->
<!--        {{this.pageWikiInfo?.other_crops}}-->
<!--      </div>-->
    </ion-card-content>
  </div>

</ion-card>
